# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# kmttg specific
/.idea
/bin
/css
/encode
/rc_images
/service
/slingbox
/VRDscripts
/web
/config.ini
/index.html
/kmttg
/kmttg.eml
/kmttg.iml
/README.html
/TtGo_blue.ico
/What I've changed so far.txt